@model Domain.App.AdSpace

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdSpace</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Side)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Side)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefToImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefToImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSpaceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSpaceType.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrier.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdSpaceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
