@model IEnumerable<Domain.Carrier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPSX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPSY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusStopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarrierType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusStopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarrierType.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarrierId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarrierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarrierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
